*.suo
*.VC.db
g_for_Golf/g_for_golf/Content/StarterContent/
g_for_Golf/g_for_golf/Binaries/
g_for_Golf/g_for_golf/Build/
g_for_Golf/g_for_golf/DerivedDataCache/
g_for_Golf/g_for_golf/Intermediate/
g_for_Golf/g_for_golf/Saved/
